* {
    font-family: Verdana;
}

header {
    position: fixed;
    top: 0;
    left: 10;
    z-index: 1;
    border-bottom: 1px solid #ddd;
    width: 100%;
    background: #ffffff;
}

main {
    margin-top: 100px;
}

.last_week_scores h3 {
    border-bottom: 1px solid #ddd;
}

a {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

.last_week_scores {
    width: 50%;
    float: left;
}

.last_week_scores h3 {
    width: 600px;
    border-bottom: 1px solid #ddd;
}

.this_week_games {
    width: 50%;
    float: right;
}

.this_week_games h3 {
    width: 600px;
    border-bottom: 1px solid #ddd;
}

.league_standings {
    float: left;
    width: 100%;
}

#standings {
    border: none;
    width: 100%;
}

#standings th {
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#standings tr:nth-child(even) {
    background-color: #f2f2f2;
}

table, th, td {
    border-collapse: collapse;
}